<IfModule mod_rewrite.c>
  RewriteEngine On

RewriteRule ^sao-paulo/vivo-taubate$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-hortolandia$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-cotia$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-igarata$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-ibiuna$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-ibitinga$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-guariba$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-guarei$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-guararema$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-guararapes$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-guapiara$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-garca$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-fernandopolis$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-dracena$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-cravinhos$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-cesario-lange$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-cerquilho$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-capela-do-alto$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-capao-bonito$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-buri$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-bom-sucesso-de-itarare$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-boituva$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-biritiba-mirim$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-barretos$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-barra-do-turvo$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-barra-do-chapeu$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-barra-bonita$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-bariri$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-barao-de-antonina$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-avare$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-assis$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-aracoiaba-da-serra$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-apiai$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-angatuba$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-andradina$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-alambari$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-agudos$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-adamantina$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-sertaozinho$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-botucatu$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-ferraz-de-vasconcelos$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-aracatuba$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-marilia$ paginaCidade.php [L]
RewriteRule ^sao-paulo/vivo-pindamonhangaba$ paginaCidade.php [L]

RewriteRule ^gvt-santa-barbara-do-oeste/vivo-santa-barbara-do-oeste$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-suzano$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-aruja$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-sao-jose-do-rio-preto/vivo-sao-jose-do-rio-preto$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-praia-grande/vivo-praia-grande$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-itaquaquecetuba/vivo-itaquaquecetuba$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-ribeirao-pires/vivo-ribeirao-pires$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-sao-caetano-do-sul/vivo-sao-caetano-do-sul$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-ribeirao-preto$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-campinas/vivo-campinas$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-guarulhos$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-araraquara$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-jacarei$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-americana$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-diadema$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sao-vicente$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sao-paulo$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sao-jose-dos-campos$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-itatiba$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sao-carlos$ paginaCidadeFibra.php [L]
RewriteRule ^gvt-presidente-prudente/vivo-presidente-prudente$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-votorantim$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sao-bernardo-do-campo$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-mogi-das-cruzes$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-santos$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-santo-andre$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-varzea-paulista$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-maua$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-jundiai$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-osasco$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-indaiatuba$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-piracicaba$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-bauru$ paginaCidadeFibra.php [L]
RewriteRule ^sao-paulo/vivo-sorocaba$ paginaCidadeFibra.php [L]


RewriteRule ^pacotes-a-la-carte/combate$ paginasStaticas/combate.php [L]
RewriteRule ^planos-vivo/vivo-internet$ paginasStaticas/vivo-internet.php [L]
RewriteRule ^pacotes-a-la-carte/esportes$ paginasStaticas/esportes.php [L]
RewriteRule ^pacotes-a-la-carte/hbo-digital-max-hd$ paginasStaticas/hbo-digital-max-hd.php [L]
RewriteRule ^pacotes-a-la-carte/hbo-digital-hd$ paginasStaticas/hbo-digital-hd.php [L]
RewriteRule ^pacotes-a-la-carte/internacionais$ paginasStaticas/internacionais.php [L]
RewriteRule ^pacotes-a-la-carte/sexy-hot$ paginasStaticas/sexy-hot.php [L]
RewriteRule ^pacotes-a-la-carte/telecine-hd$ paginasStaticas/telecine-hd.php [L]
RewriteRule ^pacotes-a-la-carte/telecine-light-hd$ paginasStaticas/telecine-light-hd.php [L]
RewriteRule ^planos-vivo/internet-fibra/100-mbps$ paginasStaticas/100-mbps.php [L]
RewriteRule ^planos-vivo/internet-fibra/200-mbps$ paginasStaticas/200-mbps.php [L]
RewriteRule ^planos-vivo/internet-fibra/300-mbps$ paginasStaticas/300-mbps.php [L]
RewriteRule ^planos-vivo/internet-fibra/50-mbps$ paginasStaticas/50-mbps.php [L]
RewriteRule ^planos-vivo/internet-speedy/10-mbps$ paginasStaticas/10-mbps.php [L]
RewriteRule ^planos-vivo/internet-speedy/8-mbps$ paginasStaticas/8-mbps.php [L]
RewriteRule ^planos-vivo/internet-speedy/15-mbps$ paginasStaticas/15-mbps.php [L]
RewriteRule ^planos-vivo/internet-speedy/2-mbps$ paginasStaticas/2-mbps.php [L]
RewriteRule ^planos-vivo/internet-speedy/4-mbps$ paginasStaticas/4-mbps.php [L]
RewriteRule ^planos-vivo/telefone-vivo-fixo/vivo-fixo-simples$ paginasStaticas/vivo-fixo-simples.php [L]
RewriteRule ^planos-vivo/telefone-vivo-fixo/vivo-ilimitado-fixo-brasil-movel-local$ paginasStaticas/vivo-ilimitado-fixo-brasil-movel-local.php [L]
RewriteRule ^planos-vivo/telefone-vivo-fixo/vivo-ilimitado-fixo-local$ paginasStaticas/vivo-ilimitado-fixo-local.php [L]
RewriteRule ^planos-vivo/telefone-vivo-fixo/vivo-ilimitado-fixo-movel-local$ paginasStaticas/vivo-ilimitado-fixo-movel-local.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-full-hd-101-canais$ paginasStaticas/vivo-tv-full-hd-101-canais.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-super-hd-39-canais$ paginasStaticas/vivo-tv-super-hd-39-canais.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-super-hd-futebol$ paginasStaticas/vivo-tv-super-hd-futebol.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-ultimate-hd-85-canais$ paginasStaticas/vivo-tv-ultimate-hd-85-canais.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-ultimate-hd-futebol$ paginasStaticas/vivo-tv-ultimate-hd-futebol.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-ultra-hd-61-canais$ paginasStaticas/vivo-tv-ultra-hd-61-canais.php [L]
RewriteRule ^planos-vivo/tv-por-assinatura/vivo-tv-ultra-hd-futebol$ paginasStaticas/vivo-tv-ultra-hd-futebol.php [L]
RewriteRule ^planos-vivo/vivo-hd-tv$ paginasStaticas/vivo-hd-tv.php [L]
RewriteRule ^vivo$ paginasStaticas/vivo.php [L]
RewriteRule ^vivo-combo$ paginasStaticas/vivo-combo.php [L]
RewriteRule ^internet$ paginasStaticas/internet.php [L]
RewriteRule ^telefone$ paginasStaticas/telefone.php [L]
RewriteRule ^televisao$ paginasStaticas/televisao.php [L]
RewriteRule ^cadastro-concluido$ paginasStaticas/cadastro-concluido.php [L]
RewriteRule ^concluido$ paginasStaticas/concluido.php [L]
RewriteRule ^obrigado$ paginasStaticas/obrigado.php [L]




</IfModule>

